@charset "UTF-8";


/* Mobile first
   Paleta de cores
   Verde: #49a09d
   Lilás: #5f2c82
*/
:root{
   --corpo: rgb(84, 27, 112);
}



* {
   padding: 0px;
   margin: 0px;


}

body {
   background-color: var(--corpo);
}

main {
   background-color: aliceblue;
   width: 260px;
   height: 69vh;
   margin: auto;
   margin-top: 100px;
   border-radius: 12px;
   box-shadow: 2px 2px 2px 2px rgba(68, 21, 91, 0.493);
}

div {
   display: block;
}

div#imagem>img {
   display: block;
   background: url('../img/metal.jpg');
   height: 25vh;
   width: 260px;
   border-radius: 12px 12px 0px 0px;

}

h1 {
   font-family: Verdana, Tahoma, sans-serif;
   font-weight: bold;
   padding: 12px;
   margin-left: 70px;

}

p {
   padding: 8px;

   font-weight: 100;
   line-height: 19px;

}

input {
   display: block;
   margin: auto;
   width: 170px;
   margin-bottom: 6px;
   height: 30px;
   border-radius: 8px;
   border: 0px;
   padding: 4px 2px 3px 0px;
   border-radius: 4px;
   background-color: aquamarine;
}

input#esqueci {
   background-color: aliceblue;
   border: 1px solid aqua;
   padding: 6px;
}

div.form {
   margin: auto;
   width: 190px;
   margin-bottom: 4px;
   padding: 6px;
   height: 32px;
   background-color: var(--corpo);
   border-radius: 10px;

}
input.texto{
   margin-left: 22px;
background-color: aliceblue;
   border-radius: 9px;
   display: block;
}