@charset "UTF-8";


/* Mobile first
   Paleta de cores
   Verde: #49a09d
   Lilás: #5f2c82
*/
:root {
   --corpo: #5f2c82;
}



* {
   padding: 0px;
   margin: 0px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   box-sizing: border-box;

}

body, html {
   height: 100vh;
   background-color: var(--corpo);

}
main{
   height: 100vh;
}

section#login {
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: aliceblue;
   width: 260px;
   height: 69vh;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
   transform: translate(-50%, -50%);
   transition: width .3s, height .3s;
   transition-timing-function: ease;
}

section#login>div#formulario {
   display: block;
   padding: 10px;
}

div#imagem {
   display: block;
   background: url('../img/metal.jpg');
   height: 25vh;
   width: 260px;
   background-size: cover;

}

div#formulario>h1 {
   text-align: center;
   font-weight: bold;
   margin-bottom: 10px;

}

div#formulario>p {
   padding: 8px;
   font-size: 0.8em;
   line-height: 19px;

}

div.form {
   background-color: var(--corpo);
   display: block;
   width: 100%;
   height: 40px;
   margin: 5px 0px;
   border-radius: 5px;
   border: 2px solid var(--corpo);
}

div.form>input {
   background-color: #94cfcd;
   font-size: 1em;
   width: calc(100% - 40px);
   height: 100%;
   border: 0px;
   border-radius: 5px;
   margin-left: 40px;
   padding: 4px;
   transform: translateY(-42px);


}
div.form > input:focus-within{
   background-color: white;
}

div.form>i {
   display: inline-block;
   color: aliceblue;
   font-size: 2em;
   width: 40px;
   padding: 5px;
}

div.form>label {
   display: none;
}

form>input[type=submit] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #49a09d;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;

}

form>input[type=submit]:hover {
   background-color: #2c605e;
}

form>a.botao {
   display: block;
   text-align: center;
   font-size: 1em;
   width: 100%;
   height: 40px;
   padding-top: 5px;
   margin-top: 5px;
   background-color: white;
   color: #49a09d;
   border: 1px solid #49a09d;
   border-radius: 7px;
   text-decoration: none;
}

form>a.botao:hover {
   background-color: #72dfdc;
}

form>a.botao>i {
   font-size: 0.8em;
}
